button {
  position: fixed;
  left: 50%;
  bottom: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  transform: translateX(-50%);
}
