html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

.my-name {
  margin: 0;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: 'Unna', serif;
  font-weight: 700;
  color: rgba(122, 255, 255, 0.6);
}
