html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark background before canvas is loaded */
.container {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-color: rgb(20, 20, 20);
}

.my-name {
  z-index: 10;
  margin: 0;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: 'Unna', serif;
  font-weight: 700;
  color: rgba(188, 193, 193, 0.589);
}

.my-name:hover {
  cursor: pointer;
}
